

body {
  background: url("book-min.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-form, .register-form, .list {
  margin-top: 20%;
}
.search-form {
  margin-top: 50%;
}
#details {
  background-color: opacify(white, 0.5);
  margin-top: 10%;
}
.card-text {
  font-style: italic;
}
