{% extends "layout.html" %}

{% block title %}Details{% endblock %}

{% block body %}
  <div class="container">
      <ul class="list-group">
          <label>ISBN</label>
          <li class="list-group-item">{{result.isbn}}</li>
          <label>Title</label>
          <li class="list-group-item">{{result.title}}</li>
          <label>Author</label>
          <li class="list-group-item">{{result.author}}</li>
          <label>Year</label>
          <li class="list-group-item">{{result.year}}</li>
      </ul>
  </div>
{% endblock %}
