{% extends "layout.html" %}

{% block title %}Details{% endblock %}

{% block body %}
  <div class="container" >
    <div class="row" id="details">
        <div class="col-md-6">
          <h2>Book Info</h2>
          <ul class="list-group">
              <label>ISBN</label>
              <li class="list-group-item">{{result.isbn}}</li>
              <label>Title</label>
              <li class="list-group-item">{{result.title}}</li>
              <label>Author</label>
              <li class="list-group-item">{{result.author}}</li>
              <label>Year</label>
              <li class="list-group-item">{{result.year}}</li>
          </ul>
          <hr>
          <h2>Comments</h2>
          {% for item in comment_list %}
          <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">{{item.firstname}} {{item.lastname}} rated <b>{{item.rating}}</b></h5>
            <h6 class="card-subtitle mb-2 text-muted">@{{item.email}}</h6>
            <p class="card-text">{{item.comment}}</p>
            <a href="#" class="card-link">Upvote</a>
            <a href="#" class="card-link">Downvote</a>
          </div>
          </div>
          {% endfor %}
          <hr>

          <form action="{{url_for('details', bookid=bookid)}}" method="post">
            <div class="form-group">
               <label for="Rating">Rating</label>
               <select class="form-control" id="Rating" name="rating">
                 <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
                 <option selected value="5">5</option>
               </select>
             </div>
             <div class="form-group">
               <label for="Comments">Comments</label>
               <textarea class="form-control" id="Comments" rows="8" name="comments" required></textarea>
             </div>
             <div class="form-group">
                <button type="submit" class="btn btn-primary">Post</button>
             </div>
          </form>
        </div>
        <div class="col-md-6">
            <h2>GoodReads reviews</h2>
            <ul class="list-group">
                <label>Average Rating</label>
                <li class="list-group-item">{{ goodreads["average_rating"] }}</li>
                <label>Number of Ratings the Work has received</label>
                <li class="list-group-item">{{ goodreads["work_reviews_count"]}}</li>
            </ul>
        </div>
  </div>

{% endblock %}
