{% extends "layout.html" %}

{% block title %} Home Page {% endblock %}}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-6 my-5">
        <div class="container">
          <h1 class="display-3">Explore 1000s of Book Reviews</h1>
          <hr class="my-3">
          <p class="lead">Here you can find with their detail information like ISBN, year, author, etc. You can see the rating for the book you desired after you logged in here.</p>
          <p></p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{url_for("login")}}" role="button">Login</a>
        </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
{% endblock %}
