<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="..\static\site.css">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Navigation Bar - font: white, bg: blue -->
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="{{url_for("index")}}">Book Review</a>
        <!-- ml-auto = move nav items to right-->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <!-- TODO: Jinja2 if not logged in -->
              <a class="nav-link" href="{{url_for("register")}}"><button class="btn btn-outline-light" type="submit">Sign Up</button></a>
            <!-- ELSE
                Show logOut <name>
            -->
          </li>
        </ul>
    </nav>
      {% block body %}
      {% endblock %}
  </body>
</html>
